.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 22.5rem;
  height: 12.5rem;
  background-color: var(--main-ravener);
  border: 1px solid var(--logo-star);
  color: var(--logo-light);
  font-weight: bolder;
  font-size: 1.5rem;
}

.modal-container.sended{
  border: 2px solid var(--logo-azure);
}

.modal-container .close-menu {
  color: var(--logo-dark);
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 100;
  height: 1.85rem;
  width: auto;
  cursor: pointer;
}

.modal-container .close-menu img:hover {
  filter: brightness(0.8);
}

.modal-container .close-menu img:active {
  transform: scale(0.95);
}

.modal-container .close-menu img {
  height: inherit;
  width: inherit;
}